table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: #d8d8d8;
}
th{
    color: #fff;
    background-color: #4682b4;
}